<!DOCTYPE html>
<html lang="en" ng-app="App">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="Libraries/angular.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script>
        angular.module("App", []).constant("constants", {
            baseUrl: "https://www.nbrb.by/API/ExRates/Currencies/"
        });
    </script>
    <script>
        angular.module("App").provider("$currencies", function() {
            return {
                $get: function($http, constants) {
                    return {
                        getAll: function() {
                            var promise = $http({
                                method: "GET",
                                url: constants.baseUrl
                            });

                            return promise;
                        },
                        getById: function(id) {
                            var promise = $http({
                                method: "GET",
                                url: constants.baseUrl + id
                            });

                            return promise;
                        }
                    }
                }
            }
        });
    </script>
    <script>
        angular.module("App").controller("Ctrl", function($scope, $currencies) {
            $scope.currencies = [];
            $scope.getCurrencies = function() {
                $currencies.getAll().then(function(response) {
                    $scope.currencies = response.data;
                });
            }
        });
    </script>
    <script>
        angular.module("App").directive("listView", function() {
            return {

                template: "<ol><li ng-repeat='item in items'>{{item.Cur_QuotName}}</li></ol>",
                scope: {
                    items: '=source'
                }
            }
        });
    </script>
</head>

<body>
    <div class="container" ng-controller='Ctrl'>
        <button type="button" class="btn btn-primary" ng-click='getCurrencies()'>Get Currencies</button>
        <div list-view source='currencies'></div>
    </div>
</body>

</html>